* {
    background-color: #d1d1d1;
}

body {
    font-family: sans-serif;
    min-width: 250px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

ul li {
    color: black;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}

#result {
    white-space: pre-wrap;
}

#stealthToggle {
  position: absolute;
  top: 6px;
  right: 6px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.6;
}

#stealthToggle.active {
  opacity: 1;
}

#stealthToggle:hover {
  opacity: 1;
}
